html {
  font-family: "Poppins", sans-serif;
}
main {
  height: 100vh;
}

header {
  color: #23575a;
  padding: 0.2rem;
  position: relative;
}

header h1 {
  font-size: 30px;
  font-weight: 700;
  padding-left: 2rem;
}

td {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.button-toolbar {
  /* display: none; */
  border-top: none;
  top: 100%;
  left: 50%;
  left: -2px;
  width: calc(100% +4px);
  text-align: center;
}

.button-toolbar .in-editing {
  display: block;
  border: 2px solid rgb(105, 105, 105);
  border-top: none;
}

.button-wrapper {
  padding: 8px;
  background-color: #fff;
  border: 2px solid rgb(105, 105, 105);
  border-top: none;
}

.error-p {
  color: rgb(218, 42, 42);
  font-size: 11px;
}

footer {
  position: relative;
  margin-bottom: 1.2rem;
  margin-top: 10rem;
}
.footer-text {
  color: #4c4c4c;
  text-align: center;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.welcome-page {
  background-color: #23575a;
  color: white;
  height: 90vh;
  position: relative;
}

.homepage-elm {
  margin-top: 5rem;
}

.button-div {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.btn-sign-in {
  border: solid 3px #4c4c4c;
  border-radius: 5px;
  padding: 0.3rem 1.2rem;
  color: #4c4c4c;
  font-weight: 500;
  font-size: 18px;
  margin-right: 1rem;
  cursor: pointer;
}

.btn-sign-in:hover {
  color: #23575a;
  border-color: #23575a;
}

.btn-sign-up {
  border: solid 3px #23575a;
  border-radius: 5px;
  padding: 0.3rem 1.2rem;
  color: white;
  font-weight: 500;
  font-size: 18px;
  background-color: #23575a;
  cursor: pointer;
}
.btn-sign-up:hover {
  background-color: #164949;
}

.welcome-page {
  text-align: center;
  padding-top: 6rem;
}

.welcome-page h1 {
  padding-top: 2rem;
  font-weight: 400;
  font-size: 45px;
}
.welcome-page h2 {
  font-weight: 400;
  font-size: 21px;
  padding-bottom: 2.5rem;
}

.btn-sing-up2 {
  border: solid 2.2px white;
  border-radius: 8px;
  font-weight: 600;
  font-size: 23px;
  background-color: white;
  color: #4c4c4c;
  padding: 1.3rem 5.4rem;
  cursor: pointer;
}

.btn-sing-up2:hover {
  color: #23575a;
}

.login-sqare {
  text-align: center;
  margin: auto;
  padding: 1rem;
  height: 500px;
  width: auto;
}

.login-sqare h1 {
  text-align: center;
  font-weight: 500;
  font-size: 50px;
  color: #23575a;
}

.input {
  width: 26rem;
  height: 5rem;
  border: 1px hidden;
  border-radius: 8px;
  border-color: #e0e0e0;
  background-color: #e0e0e0;
  margin: 0.8rem;
  font-size: 32px;
  color: #4c4c4c;
  padding-left: 2rem;
}

.button-reg {
  border: solid 2.2px #23575a;
  border-radius: 8px;
  font-weight: 500;
  font-size: 25px;
  background-color: #23575a;
  color: white;
  padding: 1.6rem 5.2rem;
  margin: 0.8rem 0 3rem 0;
  cursor: pointer;
}

.btn-sign-in2 {
  border: solid 3px #4c4c4c;
  border-radius: 8px;
  font-weight: 600;
  font-size: 23px;
  background-color: white;
  color: #4c4c4c;
  padding: 1.3rem 5.4rem;
  margin-top: 0.6rem;
  cursor: pointer;
}
.btn-sign-in2:hover {
  color: #23575a;
  border-color: #23575a;
}

.no-outline:focus {
  outline: none;
}

.login-sqare div {
  padding: 0.5rem;
}

.error-div {
  margin: 0;
  padding: 0;
}

.reg-form input {
  margin-bottom: 0;
  margin-top: 0;
}

.reg-form div {
  margin-top: 0;
  padding-top: 0;
}

.reg-form p {
  margin-top: 0;
  padding-top: 0;
}

@media only screen and (max-width: 550px) {
  .login-sqare input {
    margin-left: 0;
    margin-right: 8px;
  }
  .login-sqare {
    margin-left: 0;
    padding-left: 0;
  }
}
/* Placeholder style */

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #4c4c4c60;
  font-size: 30px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #4c4c4c60;
  font-size: 30px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #4c4c4c60;
  font-size: 30px;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #4c4c4c60;
  font-size: 30px;
}
