{% extends "base.html" %} {% block title %} Index {% endblock %} {% block main
%}
<script>
  const clmT = "{{ dataR }}";
</script>
<p>Search:</p>
<input id="search-bar" class="search-bar" type="text" placeholder="Search..." />
<div id="search-results"></div>

<div><button id="add-entry">Add new entry:</button></div>

<form class="is-hidden" id="formElem" action="/" method="post">
  <input
    id="name"
    autocomplete="off"
    type="text"
    name="name"
    placeholder="Website"
    required
  />
  <input
    id="link"
    autocomplete="off"
    type="text"
    name="link"
    placeholder="http://link"
  />
  <input
    id="username"
    autocomplete="off"
    type="text"
    name="username"
    placeholder="Username"
    required
  />
  <input
    id="password"
    autocomplete="off"
    type="text"
    required
    name="password"
    placeholder="Password"
  />
  <input id="submit" type="submit" value="Submit" />
</form>

<button id="generator">Generate Password</button>
{% if dataFromFlask %}
<h1>List of entries</h1>
<button id="edit-mode">Editing-mode</button>
<div>
  <table id="list-entries">
    <thead>
      <tr>
        <th>Name</th>
        <th>Link</th>
        <th>Username</th>
        <th>Password</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for i in dataFromFlask %}
      <tr>
        <td class="name-search">{{ i['name'] }}</td>
        <td>
          <a class="link-search" target="_blank" href="{{ i['link'] }}"
            >{{ i['link'] }}</a
          >
        </td>
        <td class="username-td">{{ i['username'] }}</td>
        <td class="password-td">
          <button onclick="htmlActivate(this)">
            Reveal Password
            <p class="is-hidden">{{ i['hash'] }}</p>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="{{ url_for('static', filename='js/crypt.js') }}"></script>

<script src="{{ url_for('static', filename='js/passgen.js') }}"></script>
{% endblock %}
