{% extends "base.html" %} {% block title %} Index {% endblock %} {% block main
%}
<script>
  const clmT = "{{ dataR }}";
</script>
<input
  type="text"
  id="mySearch"
  onkeyup="searchFunc()"
  placeholder="Search.."
  title="Type in a category"
/>

<div><button id="add-entry">Add new entry:</button></div>

<form class="is-hidden" id="formElem" action="/" method="post">
  <input
    id="name"
    autocomplete="off"
    type="text"
    name="name"
    placeholder="Website"
    required
  />
  <input
    id="link"
    autocomplete="off"
    type="text"
    name="link"
    placeholder="http://link"
    value="http://"
  />
  <input
    id="username"
    autocomplete="off"
    type="text"
    name="username"
    placeholder="Username"
    required
  />
  <input
    class="in-edit"
    id="password"
    autocomplete="off"
    type="text"
    required
    name="password"
    placeholder="Password"
  />
  <div class="err-msg" id="passError"></div>
  <input id="submit" type="submit" value="Submit" />
</form>

<button id="generator" class="is-hidden">Generate Password</button>
{% if dataFromFlask %}
<h1>List of entries</h1>
<div>
  <table id="list-entries">
    <thead>
      <tr>
        <th>Name</th>
        <th>Link</th>
        <th>Username</th>
        <th>Password</th>
        <th>Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for i in dataFromFlask %}
      <tr>
        <td class="name-search" data-entry-id="{{ i['id'] }}">
          {{ i['name'] }}
        </td>
        <td>
          <a class="link-search" target="_blank" href="{{ i['link'] }}"
            >{{ i['link'] }}</a
          >
        </td>
        <td class="username-td"><p>{{ i['username'] }}</p></td>
        <td class="password-td">
          <button class="reveal-button" onclick="htmlActivate(this)">
            Reveal Password
            <p class="is-hidden">{{ i['hash'] }}</p>
          </button>
        </td>
        <td>
          <button class="edit-button" onclick="editOnClick(this)">Edit</button
          ><button class="delete-button" onclick="deleteOnClick(this)">
            Delete
          </button>
          <button class="save-button is-hidden" onclick="saveOnlclick(this)">
            Save
          </button>
          <button class="cancel-button is-hidden" onclick="cancelOnClick(this)">
            Cancel
          </button>
          <button
            onclick="generatePassword2(this)"
            id="generator2"
            class="generate-button is-hidden"
          >
            Generate Password
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
