{% extends 'base.html' %}

{% block title %}
    Registration form
{% endblock title %}
    

{% block content %}
<div class="login-sqare">
    <form action="/register" method="post">
      <h1>Register</h1>
      <input autocomplete="off" type="text" name="username" placeholder="Username" />
      <input autocomplete="off" type="password" required name="password" placeholder="Password" />
      <input autocomplete="off" type="password" required name="confirmation" placeholder="Verify Password" />
      <input type="submit" value="Register" />
    </form>
  </div>
  
{% endblock content %}
    